<div class="about">
    <img src="/img/Main.jpg" alt="">
    <h1>About Me</h1>
    <p>
        More than 20 years of progressive experience in Graphic Arts have given me a deep understanding of all the areas that are part of this beautiful profession.<br>
As a Prepress Specialist, I have worked with all the most important printing systems, such as offset, digital printing and flexography, being this last field where I spent the last 12 years of my career.<br>
In 2008 I obtained my Professional Preprint Diploma at MacPC Academia, the most important graphic arts learning institution in my country. This program meant gaining important knowledge about typography management, photography, colour theory, image retouching, ICC profiles and management, among others, which, added to an expert level using Adobe Creative Suite (Illustrator, Photoshop, In Design, Acrobat ) and Esko Software, have been the fundamental pillar to develop a successful career in the graphic field.<br>
With all this knowledge acquired, I began to venture into graphic design, where I have been working freelance for more than 10 years, developing a broad portfolio with outstanding works for advertising, packaging and labels.<br>
Aware of the technological changes we have experienced over the past years, I enrolled in the Web Design & Development Certificate at Humber College, as a way to complement my knowledge of the field of printing with the exciting and increasingly demanded field of Web. In this program, I obtained the education and experience necessary to develop myself in this area, working with HTML and CSS, in addition to important teamwork learning using Github. In turn, I gained experience with prototyping tools, such as Figma and Adobe XD, and an important understanding of Motion Graphic, using Adobe Animate and After Effects, an area in which I was able to develop myself with outstanding videos and animations.<br>
Welcome to my portfolio, where you can see part of my work in the last years of my career.
    </p>
</div>
