<div class="about">
    <img src="/img/Main.jpg" alt="">
    <h1>About Me</h1>
    <p>
    More than 20 years of progressive experience in Graphic Arts have given me a deep understanding of all areas that are part of this fascinating profession.<br>
    As a Prepress Specialist, I have worked with all the most important printing systems, such as offset, digital printing and flexography, being this last field where I spent the latest 12 years of my career.<br>
    In 2008 I obtained my Professional Prepress Diploma at MacPC Academia, the most significant Graphic Arts learning institution in my country. This diploma gave me important knowledge regarding typography management, photography, color theory, image retouching, and profiles ICC management, among others, which added to an expert level using Adobe Creative Suite (Illustrator, Photoshop, In Design, Acrobat) and Esko Software, have been the fundamental pillar to develop a successful career in the graphic field.<br>
    With all this knowledge acquired, I began to venture into graphic design, a field in which I have been working freelance for more than ten years, developing a broad portfolio with outstanding works for advertising, packaging and labels.<br>
    Aware of the technological changes that we have experienced in recent years, I enrolled in a Web Design and Development Program at Humber College as a way to complement my knowledge of the field of printing with the exciting and increasingly demanded world of the web. En este programa, gané experiencia en HTML, CSS y Java, así como un significativo aprendizaje de trabajo en equipo usando Github. In turn, I gained experience with prototyping tools such as Figma and Adobe XD and a strong understanding of Motion Graphic, using Adobe Animate and After Effects to develop outstanding videos and animations.<br>
    Welcome to my portfolio, where you can see part of my work in the last years of my career.
    </p>
</div>
