<div class="place-picture flexslider">
    <ul class="slides">
        <li><img src="/img/advertising/Pendon-01.png" alt="Ottawa Home" class="place-img">
            <h3>The Healthy Side</h3>
            <p>Banner Printed in Digital Printing</p>
        </li>
        <li><img src="/img/advertising/logotypes.png" alt="Ottawa Home" class="place-img">
            <h3>Logotypes Design</h3>
        </li>
        <li><img src="/img/advertising/advertising_banners 2-01.png" alt="Ottawa Home" class="place-img">
            <h3>Logotypes Design</h3>
        </li>
    </ul>
</div>
<p class="work-name"><a href="design">back to graphic design</a></p>
