<div class="contact-layout">
    <div class="contact-grid"></div>
    <div class="contact-grid"></div>
    <div class="contact-grid"></div>
    <div class="contact-grid"></div>
    <div class="contact-grid center">
        <img class="logo" src="/img/JF logo-01.png" alt="">
        <h2>jorge fabregas</h2>
        <p>647 354 0253</p>
        <p>jorge.fabregas@gmail.com</p>
        <p>in/jorge-fabregas</p>
    </div>
    <div class="contact-grid"></div>
    <div class="contact-grid button"></div>
    <div class="contact-grid button"></div>
    <div class="contact-grid button"></div>
</div>