<!--<div class="layout">
    <div class="grid"></div>
    <div class="grid"></div>
    <div class="grid"></div>
    <div class="grid"></div>
    <div class="grid"></div>
    <div class="grid"></div>
    <div class="grid"></div>
    <div class="grid"></div>
    <div class="grid labels">
        <h2 class="work-name"><a href="labels">LABELS</a></h2>
    </div>
    <div class="grid"></div>
    <div class="grid"></div>
    <div class="grid advert">
        <h2 class="work-name"><a href="advertising">advertising</a></h2>
    </div>
    <div class="grid text"><h1>Graphic <br>Design</h1></div>
    <div class="grid"></div>
    <div class="grid"></div>
    <div class="grid"></div>
    <div class="grid"></div>
    <div class="grid"></div>
    <div class="grid packaging">
        <h2 class="work-name"><a href="packaging">packaging</a></h2>
    </div>
    <div class="grid">
        <h2 class="fake-name"><a href=""></a></h2>
    </div>
    <div class="grid button"></div>
    <div class="grid button"></div>
    <div class="grid button"></div>
    <div class="grid button"></div>
    <div class="grid button"></div>
</div>-->

<main class="gd_background">
    <img src="/img/GF background.png" alt="">
    <div class="container">
        <article class="item one">
            <img src="/img/Graphic Design banner.png" alt="">
        </article>
        <article class="item two">Item Two</article>
        <article class="item three">Item Three</article>
        <article class="item four">Item Four</article>
        <article class="item five">Item Five</article>
    </div>
</main>
