<div class="place-picture flexslider">
    <ul class="slides">
        <li><img src="/img/labels/dole_vegetables.png" alt="Ottawa Home" class="place-img">
            <h3>Dole</h3>
            <p>Line of Packaged Vegetables Labels Printed in Flexografy</p>
        </li>
        <li><img src="/img/labels/eagle_grain_coffee-01.png" alt="Ottawa Home" class="place-img">
            <h3>Eagle Grain</h3>
            <p>50 grs Coffee Labels Printed in Flexografy</p>
        </li>
        <li><img src="/img/labels/late_harvest_villa_alegre-01.png" alt="Ottawa Home" class="place-img">
            <h3>Villa Alegre</h3>
            <p>Late Harvest Wine Labels Printed in Flexografy</p>
        </li>
        <li><img src="/img/labels/lomas_villa_alegre.png" alt="Ottawa Home" class="place-img">
            <h3>Villa Alegre</h3>
            <p>Wine Labels Printed in Flexografy</p>
        </li>               
    </ul>
</div>
