<div class="place-picture flexslider">
    <ul class="slides">
        <li><img src="/img/labels/dole_vegetables.png" alt="Ottawa Home" class="place-img"></li>
        <li><img src="/img/labels/eagle_grain_coffee-01.png" alt="Ottawa Home" class="place-img"></li>
        <li><img src="/img/labels/late_harvest_villa_alegre-01.png" alt="Ottawa Home" class="place-img"></li>
        <li><img src="/img/labels/lomas_villa_alegre.png" alt="Ottawa Home" class="place-img"></li>               
    </ul>
</div>
