<div class="place-picture flexslider">
    <ul class="slides">
        <li><img src="/img/labels/dole_vegetables.png" alt="Ottawa Home" class="place-img">
            <h3>Dole Collection</h3>
            <p>Line of Packaged Vegetables Labels</p>
        </li>
        <li><img src="/img/labels/eagle_grain_coffee-01.png" alt="Ottawa Home" class="place-img">
            <h3>Eagle Grain</h3>
            <p>50 grs Coffee Labels</p>
        </li>
        <li><img src="/img/labels/late_harvest_villa_alegre-01.png" alt="Ottawa Home" class="place-img">
            <h3>Villa Alegre Collection</h3>
            <p>Late Harvest Wine Labels</p>
        </li>
        <li><img src="/img/labels/lomas_villa_alegre.png" alt="Ottawa Home" class="place-img">
            <h3>Villa Alegre Collection</h3>
            <p>Wine Labels</p>
        </li>
        <li><img src="/img/labels/Varietales-01.png" alt="Ottawa Home" class="place-img">
            <h3>Villa Alegre Collection</h3>
            <p>Varietal Wine Labels</p>
        </li>
        <li><img src="/img/labels/Cafe Mundosan.png" alt="Ottawa Home" class="place-img">
            <h3>Mundosan Coffee</h3>
            <p>Coffee Labels</p>
        </li>             
    </ul>
</div>
<p class="back"><a href="design">back to graphic design</a></p>
