<div class="place-picture flexslider">
    <ul class="slides">
        <li><img src="/img/motion_graphics/Technopois_Prrelouder.gif" alt="Ottawa Home" class="place-img"></li>
        <li><video controls  src="/img/motion_graphics/A_teenager_story.mp4" class="main-banner"></video></li>
        <li><video controls  src="/img/motion_graphics/kinetic_typography_JF_V.03.mp4" class="main-banner"></video></li>       
        <li><video controls  src="/img/motion_graphics/humber_mediapros_banner_JF_v.01.mp4" class="main-banner"></video></li>
        <li><video controls  src="/img/motion_graphics/joy b&b banner.mp4" class="main-banner"></video></li>
    </ul>
</div>
