<div class="place-picture flexslider">
    <ul class="slides">
        <li>
            <img src="/img/motion_graphics/Technopois_Prrelouder.gif" alt="Ottawa Home" class="place-img">
            <h3>Technopolis</h3>
            <p>Logotype Reveal Seamless made as part of the Humber College program.</p>
        </li>
        <li>
            <video controls  src="/img/motion_graphics/A_teenager_story.mp4" class="main-banner"></video>
            <h3>A Teenager's Story</h3>
            <p>Video Montage made as part of the Humber College program.</p>
        </li>
        <li>
            <video controls  src="/img/motion_graphics/kinetic_typography_JF_V.03.mp4" class="main-banner"></video>
            <h3>A Conversation Before Bed</h3>
            <p>Kinetic Typography made as part of the Humber College program.</p>
        </li>       
        <li>
            <video controls  src="/img/motion_graphics/humber_mediapros_banner_JF_v.01.mp4" class="main-banner"></video>
            <h3>Humber MediaPros</h3>
            <p>Banner made as part of a global project at Humber College program.</p>
        </li>
        <li>
            <video controls  src="/img/motion_graphics/joy b&b banner.mp4" class="main-banner"></video>
            <h3>Joy B&B</h3>
            <p>Banner made as part of a global project at Humber College program.</p>
        </li>
    </ul>
</div>
