<div class="place-picture flexslider">
    <ul class="slides">
        <li><img src="/img/packaging/Brownie-01.png" alt="Ottawa Home" class="place-img">
            <h3>Noble Soil Collection</h3>
            <p>Brownie Package</p>
        </li>
        <li><img src="/img/packaging/Avena Ciruela-01.png" alt="Ottawa Home" class="place-img">
            <h3>Noble Soil Collection</h3>
            <p>Plum Oatmeal Cookies Package</p>
        </li>
        <li><img src="/img/packaging/Cocada-01.png" alt="Ottawa Home" class="place-img">
            <h3>Noble Soil Collection</h3>
            <p>Coconut Cookies Package</p>
        </li>
        <li><img src="/img/packaging/Hamburguesa Vacuno-01.png" alt="Ottawa Home" class="place-img">
            <h3>Xima Food Collection</h3>
            <p>Beef Burger Package</p>
        </li>
        <li><img src="/img/packaging/Escalopa Kaiser-01.png" alt="Ottawa Home" class="place-img">
            <h3>Xima Food Collection</h3>
            <p>Beef Schnitzel Ham and Cheese Stuffed Package</p>
        </li>
        <li><img src="/img/packaging/Supremas Queso-01.png" alt="Ottawa Home" class="place-img">
            <h3>Xima Food Collection</h3>
            <p>Chicken Schnitzel Cheese Stuffed Package</p>
        </li>
        <li><img src="/img/packaging/agrodelicias_candied_papayas-01.png" alt="Ottawa Home" class="place-img">
            <h3>Agrodelicias</h3>
            <p>Candied Papaya Package</p>
        </li>
        <li><img src="/img/packaging/Farmed Atlantic Salmon 900 grs-01.png" alt="Ottawa Home" class="place-img">
            <h3>Pescanova Seafood Inc</h3>
            <p>Farmed Atlantic Salmon Package</p>
        </li>
        <li><img src="/img/packaging/Softwist Envase Final-01.png" alt="Ottawa Home" class="place-img">
            <h3>Softwist</h3>
            <p>Ice Cream Nix Package</p>
        </li>
        <li><img src="/img/packaging/Velas Candelaria-01.png" alt="Ottawa Home" class="place-img">
            <h3>Candelaria</h3>
            <p>Candles</p>
        </li>          
    </ul>
</div>
<p class="back"><a href="design">back to graphic design</a></p>
