<div class="place-picture flexslider">
    <ul class="slides">
        <li><img src="/img/packaging/agrodelicias_candied_papayas.png" alt="Ottawa Home" class="place-img">
            <h3>Candied Papayas Packaging</h3>
            <p>Printed in Flexography</p>
        </li>
        <li><img src="/img/packaging/crispy_pineapples_entrefrutos.png" alt="Ottawa Home" class="place-img">
            <h3>Crispy Pineapples Packaging</h3>
            <p>Printed in Flexography</p>
        </li>
        <li><img src="/img/packaging/eagle_grain_coffee.png" alt="Ottawa Home" class="place-img">
            <h3>Eagle Grain Coffee Packaging</h3>
            <p>Printed in Flexography</p>
        </li>
        <li><img src="/img/packaging/vientos_patagonia_jerky.png" alt="Ottawa Home" class="place-img">
            <h3>Jerky Packaging</h3>
            <p>Printed in Flexography</p>
        </li>               
    </ul>
</div>
