<!--<div class="resume">
    <h1>My Resume</h1>
    <img src="/img/Resume/Jorge Fabregas Resume-01.png" alt="">
    <img src="/img/Resume/Jorge Fabregas Resume-02.png" alt="">
</div>-->

<embed class="resumepdf" src="/img/Resume/Jorge Fabregas Resume.pdf" type="application/pdf" width="100%" height="100%"/>