<div class="place-picture flexslider">
    <ul class="slides">
        <li><img src="/img/web_design/joyairbnb.png" alt="Ottawa Home" class="place-img">
            <h3>JoyAirB&B</h3>
            <p>Project made as part of the Humber College Program. <a href="https://joyairbnb.github.io/">Go to the site.</a></p>
        </li>
        <li><img src="/img/web_design/kayak.png" alt="Ottawa Home" class="place-img">
            <h3>Kayak Redesign</h3>
            <p>Project made as part of the Humber College Program. <a href="https://redesignkayak.github.io/">Go to the site.</a></p>
    </ul>
</div>
