<div class="place-picture flexslider">
    <ul class="slides">
        <li><img src="/img/web_design/joyairbnb.png" alt="Ottawa Home" class="place-img"><a href="https://jorgefabregas.github.io/joyairbnb/" target="_blank"></a>JoyB&B</li>
        <li><img src="/img/web_design/kayak.png" alt="Ottawa Home" class="place-img"><a href="https://redesignkayak.github.io/">Kayak</a></li>
    </ul>
</div>