/*.layout {
    background-color: var(--txt-color);
    width: 900px;
    height: 650px;
    margin: 5% 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.grid {
    background: white;
    flex: none;
    width: 19.6%;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5%;
    color: white;
}
.button {
    margin-bottom: 0;
}
.text {
    display: inline-block;
    text-align: center;
    color: var(--txt-color);
    align-content: center;
}
.text h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding-top: 1.8rem;
}
.advert {
    background-image: url(/img/advertesing.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.packaging {
    background-image: url(/img/packaging.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.labels {
    background-image: url(/img/labels.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.work-name {
    background-color: rgba(0,0,0,0.5);
    text-transform: uppercase;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: grid;
    opacity: 0;
    transition: all 0.3s;
}
.work-name:hover {
    opacity: 1;
}
.work-name a {
    background-color: gold; 
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5rem;
    color: white;
    text-shadow: 0 0 0.25em #000;
    line-height: 1;
    place-self: center;
    text-align: center;
    padding: 1em;
    text-decoration: none;
}
.fake-name {
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2.2rem;
    color: white;
    text-shadow: 0 0 0.25em #000;
    line-height: 1;
    place-self: center;
    text-align: center;
    padding: 1em;
}*/

.gd_background {
    display: block;
    background-image: url(/img/GF\ background.png);
    background-size: cover;
    opacity: 40%;
}
.container {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    margin: 4rem 15% 4rem 15%;
    padding: 0;
    width: 70vw;
    height: 400px;
    z-index: 100;
}

.one {
    grid-row-start: 1;
    grid-row-end: 3;
    overflow: hidden;
}

.one img {
    max-width: 100%;
}
.two {
    background-color: lightblue;
    grid-column-start: 2;
    grid-column-end: 5;
}
.three {
    background-color: lightcoral;
    /*grid-column-start: 3;
    grid-column-end: 5;*/
}
.four {
    background-color: lightgrey;
    /*grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;*/
}
.five {
    background-color: lightsalmon;
    /*grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;*/
}



